.image{
    text-align: center;
}
img{
    width: 400px;
    height: 250px;
    border: 5px solid red;
}
table, th, td{
    border: 1px solid ;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    margin: 40px;
}
.table1{
   margin: auto;
   width: 92%;
   text-align: center;
   border: 2px solid red;

}
h4{
    text-decoration:underline;
}
.divcat{
    margin-left: 50px;
}
span{
    background-color: yellow;
}
